@page "/projects"
@using TaskFlow.Blazor.Models
@using TaskFlow.Blazor.Services
@inject ProjectService ProjectService

<h3>Projects</h3>

@if (projects == null)
{
    <p>Loading...</p>
}
else if (!projects.Any())
{
    <p>No projects found.</p>
}
else
{
    <ul>
        @foreach (var project in projects)
        {
            <li>@project.Name - @project.Description</li>
        }
    </ul>
}

@code {
    private List<ProjectDto>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjectsAsync();
    }
}