<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TaskFlow.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink href="/projects" Match="NavLinkMatch.All">Projects</NavLink>
            <NavLink href="/tasks" Match="NavLinkMatch.All">Tasks</NavLink>
            <NavLink href="/users" Match="NavLinkMatch.All">Users</NavLink>
        </div>
    </nav>
</div>